.dark {
  --md-sys-color-primary: rgb(255 181 155);
  --md-sys-color-surface-tint: rgb(255 181 155);
  --md-sys-color-on-primary: rgb(85 32 10);
  --md-sys-color-primary-container: rgb(114 53 30);
  --md-sys-color-on-primary-container: rgb(255 219 207);
  --md-sys-color-secondary: rgb(255 181 153);
  --md-sys-color-on-secondary: rgb(85 32 9);
  --md-sys-color-secondary-container: rgb(113 54 29);
  --md-sys-color-on-secondary-container: rgb(255 219 206);
  --md-sys-color-tertiary: rgb(255 181 155);
  --md-sys-color-on-tertiary: rgb(85 32 11);
  --md-sys-color-tertiary-container: rgb(114 53 31);
  --md-sys-color-on-tertiary-container: rgb(255 219 207);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(86 30 25);
  --md-sys-color-error-container: rgb(115 52 45);
  --md-sys-color-on-error-container: rgb(255 218 213);
  --md-sys-color-background: rgb(26 17 14);
  --md-sys-color-on-background: rgb(241 223 217);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(240 223 214);
  --md-sys-color-surface-variant: rgb(82 68 61);
  --md-sys-color-on-surface-variant: rgb(215 194 185);
  --md-sys-color-outline: rgb(160 141 133);
  --md-sys-color-outline-variant: rgb(82 68 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 214);
  --md-sys-color-inverse-on-surface: rgb(56 47 41);
  --md-sys-color-inverse-primary: rgb(143 76 51);
  --md-sys-color-primary-fixed: rgb(255 219 207);
  --md-sys-color-on-primary-fixed: rgb(56 13 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-primary-fixed-variant: rgb(114 53 30);
  --md-sys-color-secondary-fixed: rgb(255 219 206);
  --md-sys-color-on-secondary-fixed: rgb(55 14 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 181 153);
  --md-sys-color-on-secondary-fixed-variant: rgb(113 54 29);
  --md-sys-color-tertiary-fixed: rgb(255 219 207);
  --md-sys-color-on-tertiary-fixed: rgb(56 13 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-tertiary-fixed-variant: rgb(114 53 31);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(65 55 49);
  --md-sys-color-surface-container-lowest: rgb(20 13 8);
  --md-sys-color-surface-container-low: rgb(34 26 21);
  --md-sys-color-surface-container: rgb(38 30 24);
  --md-sys-color-surface-container-high: rgb(49 40 34);
  --md-sys-color-surface-container-highest: rgb(60 51 45);
}
