.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 230);
  --md-sys-color-surface-tint: rgb(255 181 155);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 175 147);
  --md-sys-color-on-primary-container: rgb(28 4 0);
  --md-sys-color-secondary: rgb(255 236 230);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(255 176 145);
  --md-sys-color-on-secondary-container: rgb(28 4 0);
  --md-sys-color-tertiary: rgb(255 236 230);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 175 148);
  --md-sys-color-on-tertiary-container: rgb(29 4 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 0);
  --md-sys-color-background: rgb(26 17 14);
  --md-sys-color-on-background: rgb(241 223 217);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 61);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 229);
  --md-sys-color-outline-variant: rgb(211 190 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(115 55 31);
  --md-sys-color-primary-fixed: rgb(255 219 207);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-primary-fixed-variant: rgb(38 7 0);
  --md-sys-color-secondary-fixed: rgb(255 219 206);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 181 153);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 7 0);
  --md-sys-color-tertiary-fixed: rgb(255 219 207);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-tertiary-fixed-variant: rgb(39 6 0);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(89 78 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(38 30 24);
  --md-sys-color-surface-container: rgb(56 47 41);
  --md-sys-color-surface-container-high: rgb(67 57 51);
  --md-sys-color-surface-container-highest: rgb(79 69 62);
}
