.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 211 196);
  --md-sys-color-surface-tint: rgb(255 181 155);
  --md-sys-color-on-primary: rgb(71 21 3);
  --md-sys-color-primary-container: rgb(203 125 96);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 211 195);
  --md-sys-color-on-secondary: rgb(71 22 2);
  --md-sys-color-secondary-container: rgb(202 125 95);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 211 196);
  --md-sys-color-on-tertiary: rgb(71 21 3);
  --md-sys-color-tertiary-container: rgb(203 125 97);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(72 19 15);
  --md-sys-color-error-container: rgb(204 123 114);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 14);
  --md-sys-color-on-background: rgb(241 223 217);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 61);
  --md-sys-color-on-surface-variant: rgb(238 216 207);
  --md-sys-color-outline: rgb(194 174 165);
  --md-sys-color-outline-variant: rgb(159 140 132);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 214);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(115 55 31);
  --md-sys-color-primary-fixed: rgb(255 219 207);
  --md-sys-color-on-primary-fixed: rgb(38 7 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-primary-fixed-variant: rgb(93 38 16);
  --md-sys-color-secondary-fixed: rgb(255 219 206);
  --md-sys-color-on-secondary-fixed: rgb(38 7 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 181 153);
  --md-sys-color-on-secondary-fixed-variant: rgb(92 38 14);
  --md-sys-color-tertiary-fixed: rgb(255 219 207);
  --md-sys-color-on-tertiary-fixed: rgb(39 6 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 181 155);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 37 16);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(77 66 60);
  --md-sys-color-surface-container-lowest: rgb(12 6 3);
  --md-sys-color-surface-container-low: rgb(36 28 23);
  --md-sys-color-surface-container: rgb(47 38 32);
  --md-sys-color-surface-container-high: rgb(58 49 43);
  --md-sys-color-surface-container-highest: rgb(70 60 53);
}
