@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Some basic styling as per W3C standards mixed with some designer favorites */
* {
  /* Brand colorscheme */
  --brand: hsl(18, 98%, 56%);
  --brand-hue: 18;
  --brand-saturation: 98%;
  --brand-lightness: 56%;
  /* Light */
  --brand-light: hsl(
    var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
  );
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% calc(var(--brand-lightness) / 5);
  --shadow-strength-light: 0.02;
  /* Dark */
  --brand-dark: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 2)
      calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5% 20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.8;
  /* Dim */
  --brand-dim: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 1.25)
      calc(var(--brand-lightness) / 1.25)
  );
  --text1-dim: hsl(var(--brand-hue) 15% 75%);
  --text2-dim: hsl(var(--brand-hue) 10% 61%);
  --surface1-dim: hsl(var(--brand-hue) 10% 20%);
  --surface2-dim: hsl(var(--brand-hue) 10% 25%);
  --surface3-dim: hsl(var(--brand-hue) 5% 30%);
  --surface4-dim: hsl(var(--brand-hue) 5% 35%);
  --surface-shadow-dim: var(--brand-hue) 30% 13%;
  --shadow-strength-dim: 0.2;
  /* Font weights */
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
  /* Basic settings */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight-regular);
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  @import url("theme/light.css");
  :root {
    color-scheme: light;
    --surface-shadow-light: var(--brand-hue) 10% 20%;
    --shadow-strength-light: 0.02;
    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
  }
  @media (prefers-contrast: more) {
    @import url("theme/light-hc.css");
    :root {
      color-scheme: light;
      --surface-shadow-light: var(--brand-hue) 10% 20%;
      --shadow-strength-light: 0.02;
      --brand: var(--brand-light);
      --text1: var(--text1-light);
      --text2: var(--text2-light);
      --surface1: var(--surface1-light);
      --surface2: var(--surface2-light);
      --surface3: var(--surface3-light);
      --surface4: var(--surface4-light);
      --surface-shadow: var(--surface-shadow-light);
      --shadow-strength: var(--shadow-strength-light);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @import url("theme/dark.css");
    color-scheme: dark;
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
  @media (prefers-contrast: more) {
    @import url("theme/dark-hc.css");
    :root {
      color-scheme: dark;
      --brand: var(--brand-dark);
      --text1: var(--text1-dark);
      --text2: var(--text2-dark);
      --surface1: var(--surface1-dark);
      --surface2: var(--surface2-dark);
      --surface3: var(--surface3-dark);
      --surface4: var(--surface4-dark);
      --surface-shadow: var(--surface-shadow-dark);
      --shadow-strength: var(--shadow-strength-dark);
    }
  }
}

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

.rad-shadow {
  box-shadow:
    0 2.8px 2.2px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 6.7px 5.3px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
